/* NavMenu */
.navMenu {
  color: #3c444d;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.nav-link {
  padding: 0;
}

#nav-sign-in {
  height: auto;
  text-align: center;
  background: transparent;
  padding: 0.7em 1em;
  margin: 1em 0;
  border-radius: 5px;
}

#nav-sign-up {
  height: auto;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background: -webkit-linear-gradient(top, #01f779, #01c460);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  padding: 0.7em 1em;
  margin: 1em 0;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .nav .navbar-brand {
    margin-right: 1em !important;
    padding-right: 1.5em !important;
  }
  .nav span {
    border-right: 1px solid #ccc;
  }

  .nav .nav-item {
    color: rgba(0, 0, 0, 0.5);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5) !important;
    background-color: transparent;
    margin: 1em 0.5em !important;
    position: relative;
  }
  .nav #sign-in-nav {
    border: none;
  }
}
