@import-normalize; /* bring in normalize.css styles */

/*App styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #3c444d;
  letter-spacing: -0.02em;
  box-sizing: border-box;
}

/* Hero styles */
#section-hero {
  background-image: url(./assets/img/home/newhp-header.jpg);
  background-position: center;
  background-size: cover;
  height: auto;
  height: 90vh;
  text-align: center;
}

#section-hero h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #007bff;
  line-height: 1.14em;
  margin-bottom: 0;
  padding: 0;
}

#section-hero p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #464646;
  margin-bottom: 0;
}

.hero-text {
  padding: 10px 0;
  background: hsla(0, 0%, 100%, 0.85);
}

/* Blokes styles */
#section-blokes {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
  background-color: #f0f2f2;
}

#section-blokes .section-content {
  flex-direction: column;
  width: 50%;
}

#section-blokes .section-text {
  width: 60%;
  margin: 2rem auto auto;
}

#section-blokes .title {
  font-size: 24pt;
  font-weight: lighter;
  text-align: center;
  color: #003b70;
  margin-bottom: 1rem;
}

#section-blokes .section-button {
  font-size: 14pt;
  font-weight: 900;
  color: #fff;
  background-color: #003b70;
  text-align: center;
  max-width: 225px;
  padding: 1rem;
  margin: auto;
}

#section-blokes .section-image {
  width: 50%;
}

#section-blokes .section-image img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
